<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>url_api</key>
	<string>http://cast-pic-ios-api.azurewebsites.net/api/localizacao</string>
	<key>url_api_local</key>
	<string>http://localhost:5000/api/localizacao</string>
	<key>url_api_teste</key>
	<string>https://api.myjson.com/bins/1fxx9p</string>
</dict>
</plist>
